body {
  background-color: #031a03d5;
  margin: 40px;
  color: white;
}
a {
  color: rgb(184, 184, 184); /* 기본 링크 색깔 */
}
a:hover {
  color: rgb(0, 0, 0); /* 마우스를 올렸을 때 색깔 */
}
.bt {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  text-decoration: none;
  border-radius: 20px;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}
.bt:hover {
  background: #fff;
  color: #000;
}
.wrapper {
  width: 500px;
  border: 2px solid red;
  position: relative;
}

/* positon : relative */
.like {
  background-color: rgb(109, 109, 98);
  position: relative;
  left: 50px;
  bottom: 20px;
}

/* position: absolute */
.bootcamp {
  background-color: rgb(88, 57, 88);
  position: absolute;
  left: 50px;
  top: 100px;
}

/* position: fixed */
.school {
  background-color: rgb(67, 114, 114);
  position: fixed;
  right: 0;
  bottom: 0;
}

/* position: sticky */
h1 {
  background-color: rgb(27, 77, 27);
  position: sticky;
  top: 0;
  z-index: 10;
}

/* z-index 속성 */
.frontend,
.euid {
  position: relative;
  padding: 10px;
}

.frontend {
  background-color: rgba(255, 255, 0, 0.349);
  left: 50px;
  top: 20px;
  z-index: 1;
}

.euid {
  background-color: rgba(255, 166, 0, 0.514);
  z-index: auto;
}

.container {
  background-color: #000;
  margin-top: 50px;

  p {
    background-color: white;
    padding: 20px;
    border: 1px solid currentColor;
    position: relative;
    top: -5px;
    left: -5px;
  }
}
/*
.lion {
  background-color: #43a76d;
  margin-left: 50px;
  margin-right: -50px;
}
*/
